<nav>
  <ul>
    <li>
      <a routerLink="" [class.activated]="currentUrl == '/'">
        <i class="material-icons">location_city</i>
      </a>
    </li>
    <li>
      <a routerLink="about" [class.activated]="currentUrl == '/about'">
        <i class="material-icons">fingerprint</i>
      </a>
    </li>
    <li>
      <a routerLink="resume" [class.activated]="currentUrl == '/resume'">
        <i class="material-icons">assignment</i>
      </a>
    </li>
    <li>
      <a routerLink="self-assessment" [class.activated]="currentUrl == '/self-assessment'">
        <i class="material-icons">assessment</i>
      </a>
    </li>    
    <li>
      <a routerLink="travel-gallery" [class.activated]="currentUrl.includes('travel-gallery')">
        <i class="material-icons">airplanemode_active</i>
      </a>
    </li>
    <li>
      <a routerLink="apps" [class.activated]="currentUrl == '/apps'">
        <i class="material-icons">view_module</i>
      </a>
    </li>
    <li>
      <a routerLink="reading-list" [class.activated]="currentUrl == '/reading-list'">
        <i class="material-icons">list</i>
      </a>
    </li>
    <li>
      <a routerLink="writings" [class.activated]="currentUrl == '/writings'">
        <i class="material-icons">create</i>
      </a>
    </li>
    <li>
      <a routerLink="successes" [class.activated]="currentUrl == '/successes'">
        <i class="material-icons">done</i>
      </a>
    </li>
    <li>
      <a routerLink="failures" [class.activated]="currentUrl == '/failures'">
        <i class="material-icons">highlight_off</i>
      </a>
    </li>
  </ul>
</nav>
