<h1>Writings</h1>

<section>
  <h3>This section is dedicated to my personal musings.</h3>

  <p>I owe my life to writing.</p>

  <p>
    My pen has been my best friend ever since I was a child; it never lets me down; never betrays me; knows all of my thoughts,
    feelings, and secrets; always here for me when I need it, with no judgement and no condescension; gives me the ultimate
    freedom of expression; never jealous; and always giving until there's nothing left to give; a perfect relationship.
  </p>
</section>

<section>
  
</section>
