// angular-materialize responsive grid layout
@import "m-modified.css";
// angular material theme
@import "./dark-theme.scss";

@font-face {
  font-family: 'AlexBrush';
  // src: url('FileName.eot');
  // src: url('FileName.eot?#iefix') format('embedded-opentype'),
  //  url('FileName.woff') format('woff'),
  src: url('./assets/alex-brush/AlexBrush-Regular.ttf') format('truetype');
  //  url('FileName.svg#FontName') format('svg');
  font-style: normal;
  font-weight: normal;
}

/*Common Media Queries*/
// @media (max-width: 1690px) { ... }
// @media (max-width: 1280px) { ... }
// @media (max-width: 980px) { ... }
// @media (max-width: 736px) { ... }
// @media (max-width: 480px) { ... }
body {
  margin: 0;
  font-family: 'Heebo';
  height: 100vh;
  background-color: #161616;

  a {
    text-decoration: underline;

    &:link {
      color: #dcd8d3;
    }

    &:visited {
      color: #f5228a;
    }
  }
}

#mainContent {
  // ===== spinner ======
  .lds-roller {
    position: fixed;

    @media (max-width: 980px) {
      position: fixed;
      width: 64px;
      height: 64px;
      left: 40%;
      top: 47%;
    }
    
  }
}

#container {
  display: grid;
  grid-template-columns: 4% auto;
  height: 100%;

  #content {
    padding: 30px 50px;
  }
}

/* used here because component scss file won't override angular material css */
.contact-form {
  mat-form-field {
    div.mat-form-field-underline {
      background-color: #000;
    }
  }

  .mat-select-arrow {
    color: #000;
  }
}

#frontEndSkills {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 10px;

  >svg.bullet {
    font: 10px sans-serif;

    >g {
      >rect.range.s0 {
        fill: #eee;
      }

      >rect.range.s1 {
        fill: #ddd;
      }

      >rect.range.s2 {
        fill: #ccc;
      }

      >rect.measure.s0 {
        fill: rgb(70, 180, 107);
      }

      >rect.measure.s1 {
        fill: rgb(70, 180, 107);
      }

      >line.marker {
        stroke: #000;
        stroke-width: 2px;
      }

      >g {
        & .tick {
          >line {
            stroke: #666;
            stroke-width: .5px;
          }
        }

        >text.title {
          font-size: 14px;
          font-weight: bold;
        }

        >text.subtitle {
          fill: #999;
        }
      }
    }
  }
}

#backEndSkills {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 10px;

  >svg.bullet {
    font: 10px sans-serif;

    >g {
      >rect.range.s0 {
        fill: #eee;
      }

      >rect.range.s1 {
        fill: #ddd;
      }

      >rect.range.s2 {
        fill: #ccc;
      }

      >rect.measure.s0 {
        fill: rgb(70, 158, 180);
      }

      >rect.measure.s1 {
        fill: rgb(70, 158, 180);
      }

      >line.marker {
        stroke: #000;
        stroke-width: 2px;
      }

      >g {
        & .tick {
          >line {
            stroke: #666;
            stroke-width: .5px;
          }
        }

        >text.title {
          font-size: 14px;
          font-weight: bold;
        }

        >text.subtitle {
          fill: #999;
        }
      }
    }
  }
}

#machineLearningSkills {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 10px;

  >svg.bullet {
    font: 10px sans-serif;

    >g {
      >rect.range.s0 {
        fill: #eee;
      }

      >rect.range.s1 {
        fill: #ddd;
      }

      >rect.range.s2 {
        fill: #ccc;
      }

      >rect.measure.s0 {
        fill: rgb(127, 70, 180);
      }

      >rect.measure.s1 {
        fill: rgb(127, 70, 180);
      }

      >line.marker {
        stroke: #000;
        stroke-width: 2px;
      }

      >g {
        & .tick {
          >line {
            stroke: #666;
            stroke-width: .5px;
          }
        }

        >text.title {
          font-size: 14px;
          font-weight: bold;
        }

        >text.subtitle {
          fill: #999;
        }
      }
    }
  }
}
