/* You can add global styles to this file, and also import other style files */
@import './app/styles/landing-page/ipad-pro';
@import './app/styles/landing-page/ipad';
@import './app/styles/landing-page/iphone-5-5s';
@import './app/styles/landing-page/iphone-6-7-8';
@import './app/styles/landing-page/iphone-6-7-8-plus';
@import './app/styles/landing-page/iphone-x';

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/*Common Media Queries*/

// @media (max-width: 1690px) { ... }
// @media (max-width: 1280px) { ... }
// @media (max-width: 980px) { ... }
// @media (max-width: 736px) { ... }
// @media (max-width: 480px) { ... }

body {
  margin: 0;
  font-family: 'Heebo';
  height: 100vh;
}

#container {
  display: grid;
  grid-template-columns: 4% auto;
  height: 100%;
  #content {
    padding: 30px 50px;
    
  }
}

// .page-content {
//   position: fixed;
//   top: 0;
//   left: 0;
//   margin: 1rem 5rem;

//   @media (max-width: 980px) { 
//     position: fixed;
//     top: 0;
//     left: 0;
//     margin: 0rem 1rem;
//   }
// }

#frontEndSkills {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 10px;
  >svg.bullet {
    font: 10px sans-serif;
    >g {
      >rect.range.s0 {
        fill: #eee;
      }
      >rect.range.s1 {
        fill: #ddd;
      }
      >rect.range.s2 {
        fill: #ccc;
      }
      >rect.measure.s0 {
        fill: rgb(70, 180, 107);
      }
      >rect.measure.s1 {
        fill: rgb(70, 180, 107);
      }
      >line.marker {
        stroke: #000;
        stroke-width: 2px;
      }
      >g {
        & .tick {
          >line {
            stroke: #666;
            stroke-width: .5px;
          }
        }
        >text.title {
          font-size: 14px;
          font-weight: bold;
        }
        >text.subtitle {
          fill: #999;
        }
      }
    }
  }
}

#backEndSkills {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 10px;
  >svg.bullet {
    font: 10px sans-serif;
    >g {
      >rect.range.s0 {
        fill: #eee;
      }
      >rect.range.s1 {
        fill: #ddd;
      }
      >rect.range.s2 {
        fill: #ccc;
      }
      >rect.measure.s0 {
        fill: rgb(70, 158, 180);
      }
      >rect.measure.s1 {
        fill: rgb(70, 158, 180);
      }
      >line.marker {
        stroke: #000;
        stroke-width: 2px;
      }
      >g {
        & .tick {
          >line {
            stroke: #666;
            stroke-width: .5px;
          }
        }
        >text.title {
          font-size: 14px;
          font-weight: bold;
        }
        >text.subtitle {
          fill: #999;
        }
      }
    }
  }
}

#machineLearningSkills {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 10px;
  >svg.bullet {
    font: 10px sans-serif;
    >g {
      >rect.range.s0 {
        fill: #eee;
      }
      >rect.range.s1 {
        fill: #ddd;
      }
      >rect.range.s2 {
        fill: #ccc;
      }
      >rect.measure.s0 {
        fill: rgb(127, 70, 180);
      }
      >rect.measure.s1 {
        fill: rgb(127, 70, 180);
      }
      >line.marker {
        stroke: #000;
        stroke-width: 2px;
      }
      >g {
        & .tick {
          >line {
            stroke: #666;
            stroke-width: .5px;
          }
        }
        >text.title {
          font-size: 14px;
          font-weight: bold;
        }
        >text.subtitle {
          fill: #999;
        }
      }
    }
  }
}

