<h2>About Me</h2>

<section>
  <b>National Geographic Geno 2.0 DNA Results:</b>

  <ul>
    <li>64% Italian (Etruscan)</li>
    <li>11% Russian (Moscow)</li>
    <li>7% Persian</li>
    <li>6% North Indian</li>
    <li>6% Northwestern European (Ireland/UK)</li>
    <li>4% Arabian</li>
    <li>2% East African (Ethiopia)</li>
  </ul>

  <p>
    I have paternal and maternal matches to Rameses the Great, Nicolaus Copernicus, Queen Victoria, and Abraham Lincoln.
  </p>
</section>

<section>
  <h2>Formal Education:</h2>

  <h3>Bachelor of Science - Electrical Engineering</h3>
  <p>University of North Carolina, Charlotte - 2010</p>

  <h3>Associate of Science - Avionic Systems Technology</h3>
  <p>Community College of the Air Force - 2003</p>
 
</section>

<section>
  <h2>Passions:</h2>
  <p>Learning, Traveling, Writing, Latin Dancing, Martial Arts, Scuba Diving</p>
</section>
