node_modules/

assets/images/**/*
assets/testimonies/**/*
assets/writings/**/*
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

dist/

services/auth.js

