<div class="leadership-container page-content">
  <div class="row">
    <div class="col m2"></div>
    <div class="col m8 s12">
      <h3 id="title">Leadership</h3>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <div class="panel-title">Fundamental Tenets</div>
          </mat-expansion-panel-header>
          <mat-list-item>
            <div matLine>
              <ol id="tenetList">
                <li>
                  Empathy. Be genuinely interested in your people.
                </li>
                <li>
                  Adopt a definite purpose. Stand by it until it becomes an all-consuming obsession.
                </li>
                <li>
                  Embrace the struggle. It really is beautiful.
                </li>
                <li>
                  There is no such thing as something for nothing.
                </li>
                <li>
                  Waking up at 6am doesn't make you successful. Having the motivation to wake up and bargain
                  with life on your own terms makes you successful.
                </li>
                <li>
                  Learn the rules so well that you can break them or rewrite them.
                </li>
                <li>
                  Follow well, then lead well.
                </li>
                <li>
                  Set high standards for yourself and others. Apply them impartially.
                </li>
                <li>
                  Remember, standards are minimum sets of criteria for what is acceptable. Always go above
                  and beyond.
                </li>
                <li>
                  Create specific objectives, specific rewards, and clear representations of what good performance looks like.
                </li>
                <li>
                  Multi-tasking is a myth. Keep zen-like focus on one objective at a time.
                </li>
              </ol>
            </div>
          </mat-list-item>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <div class="panel-title">Tap the Mind's Full Potential</div>
          </mat-expansion-panel-header>

          <mat-list>
            <mat-list-item>
              <p matLine>Realize that you are a fractal of divinity. Just as you were created, you too can and should
                create.</p>
            </mat-list-item>
            <mat-list-item>
              <div matLine>Create a vision of success (however you define success).
                <ol>
                  <li>
                    Have specific goals.
                  </li>
                  <li>
                    Have specific timelines and milestones.
                  </li>
                </ol>
              </div>
            </mat-list-item>
            <mat-list-item>
              <div matLine>Acquire Knowledge, especially of hard things (as much as possible, and on a continuous
                basis).
                <ol>
                  <li>
                    Make notes and references to key concepts as you learn.
                  </li>
                  <li>
                    This build confidence, creates a template for success, encourages unique insight and cross-domain
                    thinking.
                  </li>
                </ol>
              </div>
            </mat-list-item>
            <mat-list-item>
              <div matLine>Strive for balance as a living being.
                <ol>
                  <li>
                    Physical - Diet, Exercise including daily stretching (also counts as meditation).
                  </li>
                  <li>
                    Mental - Reading, Learning.
                  </li>
                  <li>
                    Spiritual - Meditation, Prayer.
                  </li>
                </ol>
              </div>
            </mat-list-item>
            <mat-list-item>
              <div matLine>Strive for balance as someone with purpose.
                <ol>
                  <li>
                    Work - Know when to work and when to relax (rest is part of the plan).
                  </li>
                  <li>
                    Life - Don't neglect those important to you, but be disciplined in giving them time.
                  </li>
                </ol>
              </div>
            </mat-list-item>
            <mat-list-item>
              <div matLine>Allocate Time, Money, and Energy (TME) appropriately.
                <ol>
                  <li>
                    Realize you only have a finite amount of time, money, and energy to allocate each day.
                  </li>
                  <li>
                    How do you want to spend your TME? Realize that giving TME to activities and people that don't
                    contribute to your vision of success is essentially a waste.
                    <app-pie-chart></app-pie-chart>
                  </li>
                  <li>
                    Distribute as you see fit but remember: Focus, Balance.
                  </li>
                </ol>
              </div>
            </mat-list-item>
            <mat-list-item>
              <div matLine>Focus on one task until completion.
                <ol>
                  <li>
                    Become aware of distractions and mitigate them.
                  </li>
                </ol>
              </div>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <div class="panel-title">Find Your Triple Point</div>
          </mat-expansion-panel-header>
          <app-triple-point></app-triple-point>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <div class="panel-title">Leader vs Manager</div>
          </mat-expansion-panel-header>
          This the expansion 2 content
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <div class="panel-title">Situational Leadership, Flow</div>
          </mat-expansion-panel-header>
          This the expansion 2 content
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <div class="panel-title">Community Involvement</div>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item>
              <p matLine>Guest Speaker</p>
              <a matLine href="http://www.mentouringourbrothers.org" target="_blank">Mentouring Our Brothers</a>
            </mat-list-item>
            <mat-list-item>
              <p matLine>Math Tutor</p>
              <a matLine href="http://www.joshhollifield.com/bridge/profile.htm" target="_blank">BRIDGE Jobs</a>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <div class="panel-title">Power</div>
          </mat-expansion-panel-header>
          This the expansion 2 content
        </mat-expansion-panel>

      </mat-accordion>
    </div>
    <div class="col m2 s12"></div>
  </div>
</div>
