<div class="leadership-container page-content">
  <div class="row">
    <div class="col m2"></div>
    <div class="col m8 s12">
      <h3 id="title">Leadership</h3>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <h5>Fundamental Tenets</h5>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item>Adopt a definite purpose. Stand by it until it becomes an all-consuming obsession.</mat-list-item>
            <mat-list-item>Embrace the struggle. It really is beautiful.</mat-list-item>
            <mat-list-item>There is no such thing as something for nothing.</mat-list-item>
            <mat-list-item>Waking up at 6am doesn't make you successful. Having the motivation to wake up and bargain
              with life on your own terms makes you successful.
            </mat-list-item>
            <mat-list-item>Learn the rules so well that you can break them or rewrite them.</mat-list-item>
            <mat-list-item>Follow well, then lead well. </mat-list-item>
            <mat-list-item>Set high standards for yourself and others. Apply them impartially. </mat-list-item>
            <mat-list-item>Remember, standards are minimum sets of criteria for what is acceptable. Always go above
              and beyond.</mat-list-item>
            <mat-list-item>Create specific objectives and specific rewards. </mat-list-item>
            <mat-list-item>Multi-tasking is a myth. Keep zen-like focus on one objective at a time. </mat-list-item>
          </mat-list>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <h5>How to Tap the Mind's Full Potential</h5>
          </mat-expansion-panel-header>

          <mat-list>
            <mat-list-item>
              <p matLine>Realize that you are a fractal of divinity. Just as you were created, you too can and should
                create.</p>
            </mat-list-item>
            <mat-list-item>
              <div matLine>Create a vision of success (however you define success).
                <ol>
                  <li>
                    Have specific goals
                  </li>
                  <li>
                    Have specific timelines and milestones
                  </li>
                </ol>
              </div>
            </mat-list-item>
            <mat-list-item>
              <div matLine>Acquire Knowledge, especially of hard things (as much as possible, and on a continuous
                basis).
                <ol>
                  <li>
                    Make notes and references to key concepts as you learn
                  </li>
                  <li>
                    This build confidence, creates a template for success, encourages unique insight and cross-domain
                    thinking
                  </li>
                </ol>
              </div>
            </mat-list-item>
            <mat-list-item>
              <div matLine>Strive for balance as a living being.
                <ol>
                  <li>
                    Physical - Diet, Exercise including daily stretching (also counts as meditation)
                  </li>
                  <li>
                    Mental - Reading, Learning
                  </li>
                  <li>
                    Spiritual - Meditation, Prayer
                  </li>
                </ol>
              </div>
            </mat-list-item>
            <mat-list-item>
              <div matLine>Strive for balance as someone with purpose.
                <ol>
                  <li>
                    Work - Know when to work and when to relax (rest is part of the plan)
                  </li>
                  <li>
                    Life - Don't neglect those important to you, but be disciplined in giving them time
                  </li>
                </ol>
              </div>
            </mat-list-item>
            <mat-list-item>
              <div matLine>Allocate Time, Money, and Energy (TME) appropriately.
                <ol>
                  <li>
                    Realize you only have a finite amount of time, money, and energy to allocate each day
                  </li>
                  <li>
                    How do you want to spend your TME? Realize that giving TME to activities and people that don't
                    contribute to your vision of success is essentially a waste
                  </li>
                  <li>
                    ========INSERT PIE CHART for TME===========
                  </li>
                  <li>
                    Distribute as you see fit but remember: Focus, Balance
                  </li>
                </ol>
              </div>
            </mat-list-item>
            <mat-list-item>
              <div matLine>Focus on one task until completion.
                <ol>
                  <li>
                    Become aware of distractions and mitigate them
                  </li>
                </ol>
              </div>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <h5>Find Your Triple Point</h5>
          </mat-expansion-panel-header>
          This the expansion 2 content
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <h5>Leader vs Manager</h5>
          </mat-expansion-panel-header>
          This the expansion 2 content
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <h5>Situational Leadership, Flow Correlation</h5>
          </mat-expansion-panel-header>
          This the expansion 2 content
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <h5>Community Leadership Involvement</h5>
          </mat-expansion-panel-header>
          This the expansion 2 content
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <h5>Power</h5>
          </mat-expansion-panel-header>
          This the expansion 2 content
        </mat-expansion-panel>

      </mat-accordion>
    </div>
    <div class="col m2 s12"></div>
  </div>
</div>
