.leadership-container {
  color: #818181;

  #title {
    text-align: center;
  }

  ::ng-deep .mat-list .mat-list-item .mat-line {
    word-wrap: break-word;
    white-space: pre-wrap;
  }

  ::ng-deep .mat-list .mat-list-item {
    height: initial !important;
    margin-bottom: 1rem;
  }

  ::ng-deep .mat-list-text {
    color: #c5c5c5;
  }

  ::ng-deep .mat-expansion-panel {
    margin-bottom: .5rem;
    padding: .25rem .25rem;
    border-radius: 4px;

    .panel-title {
      font-size: 20px;
    }

    #tenetList {
      >li {
        margin-bottom: .5rem;
        font-size: 16px;
      }
    }
  }

  #lmt {
    font-size: 16px;
  }

  #lmtRow {
    width: 100%;
  }
  
}
