<div class="leadership-container page-content">
  <div class="row">
    <div class="col m2"></div>
    <div class="col m8 s12">
      <h3 id="title">Leadership</h3>
      <section>
        <h5>My Fundamental Tenets</h5>
        <ol>
          <li>
            Adopt a definite purpose. Stand by it until it becomes an all-consuming obsession.
          </li>
          <li>
            Embrace the struggle. It really is beautiful.
          </li>
          <li>
            There is no such thing as something for nothing.
          </li>
          <li>
            Waking up at 6am doesn't make you successful.
            Having the motivation to wake up and bargain with life on your own terms makes you successful.
          </li>
          <li>
            Learn the rules so well that you can break them or rewrite them.
          </li>
          <li>Follow well, then lead well.</li>
          <li>
            Set high standards for yourself and others. Apply them impartially.
          </li>
          <li>
            Remember, standards are minimum sets of criteria for what is acceptable. Always go above and beyond.
          </li>
          <li>
            Create specific objectives and specific rewards.
          </li>
          <li>
            Multi-tasking is a myth. Keep zen-like focus on one objective at a time.
          </li>
        </ol>
      </section>

      <hr>

      <section>
        <h5>How to tap the mind's full potential</h5>
        <ol>
          <li>
            Realize that you are a fractal of divinity. Just as you were created, you too can and should create.
          </li>
          <li>
            Create a vision of success (however you define success)
            <ol>
              <li>
                Have specific goals
              </li>
              <li>
                Have specific timelines and milestones
              </li>
            </ol>
          </li>
          <li>
            Acquire Knowledge, especially of hard things (as much as possible on a continuous basis)
            <ol>
              <li>
                Make notes and references to key concepts as you learn
              </li>
              <li>
                This build confidence, creates a template for success, encourages unique insight and cross-domain
                thinking
              </li>
            </ol>
          </li>
          <li>
            Strive for balance as a living being
            <ol>
              <li>
                physical - diet, exercise including daily stretching (also counts as meditation)
              </li>
              <li>
                mental - reading/learning
              </li>
              <li>
                spiritual - meditation/prayer
              </li>
            </ol>
          </li>
          <li>
            Strive for balance as someone with purpose
            <ol>
              <li>
                work - know when to work and when to relax (rest is part of the plan)
              </li>
              <li>
                life - don't neglect those important to you, but be disciplined in giving them time
              </li>
            </ol>
          </li>
          <li>
            Allocate Time, Money, and Energy appropriately
            <ol>
              <li>
                Realize you only have a finite amount of time, money, and energy to allocate each day
              </li>
              <li>
                How do you want to spend your TME? Realize that giving TME to activities and people that don't
                contribute to your vision of success is essentially a waste
              </li>
              <li>
                ========INSERT PIE CHART for TME===========
              </li>
              <li>
                Distribute as you see fit but remember: Focus, Balance
              </li>
            </ol>
          </li>
          <li>
            Focus on one task until completion
            <ol>
              <li>
                Become aware of distractions and mitigate them
              </li>
            </ol>
          </li>
        </ol>
      </section>

      <hr>

      <section>
        <h5>Find your triple point</h5>
        <p>Insert graph here</p>
      </section>

      <hr>

      <section>
        <h5>Leader vs Manager</h5>
        <p>Compare Contrast</p>
      </section>

      <hr>

      <section>
        <h5>Flow and Situational Leadership correlation</h5>
        <p>Flow and Situational Leadership correlation</p>
      </section>
    </div>
    <div class="col m2 s12">

    </div>
  </div>
</div>
