<div class="about-container">
  <div class="row">
    <div class="col m2"></div>
    <div class="col m8 s12">
      <div class="content">
        <h3>Formal Education</h3>
        <div class="row">
          <div class="col m6 s6">
            <h5>Bachelor of Science, Electrical Engineering</h5>
            <p>University of North Carolina, Charlotte</p>
          </div>
          <div class="col m6 s6">
            <h5>Associate of Science, Avionic Systems Technology</h5>
            <p>Community College of the Air Force</p>
          </div>
        </div>
        <hr>

        <h3>Professional Certifications</h3>

        <div class="row">
          <div class="col m6 s6">
            <h5>Electrical Engineering</h5>
            <p>North Carolina FE/EIT: License A-25695</p>
          </div>
          <div class="col m6 s6">
            <h5>Artificial Intelligence</h5>
            <p>Deep Learning Sequence Models: License FCX54R5U2EYT</p>
            <p>Deep Learning Convolutional Neural Networks: License 22M8UA5FBJ8B</p>
            <p>Structuring Machine Learning Projects: License KFAA66E8YHXC</p>
            <p>Hyperparameter Tuning, Regularization, & Optimization: License LVM2NBGRKYUA</p>
            <p>Neural Networks and Deep Learning: License M65BBYWUMSKDK</p>
            <p>Clustering & Retrieval Algorithms: License 8JFVVTB34FYR</p>
            <p>Classification Algorithms: License VNY3RG5ZUBKT</p>
            <p>Linear Regression Algorithms: License CFBDKDQYMMXE</p>
            <p>Machine Learning Foundations: License W77DV3BUQGD5</p>
          </div>
        </div>
        <hr>

        <h3>Engineering Artifacts</h3>
        <ul>
          <li>&#8227;&nbsp;automated robots that process weapons-grade plutonium and convert it into nuclear fuel
            assemblies</li>
          <li>&#8227;&nbsp;safety and non-safety automation systems for nuclear power plants</li>
          <li>&#8227;&nbsp;automated distribution substation protective relay systems</li>
          <li>&#8227;&nbsp;risk management software for major financial institutions</li>
          <li>&#8227;&nbsp;litigation support software (saas)</li>
          <li>&#8227;&nbsp;commercial real-estate investor experience platform (saas)</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col m2"></div>


</div>
