<div class="ambition-container page-content">
  <div class="row">
    <div class="col m2 s12"></div>
    <div class="col m8 s12">
      <h3>Post Duke MBA Plan</h3>
    </div>
    <div class="col m2 s12"></div>
  </div>
  <div class="row">
    <div class="col m2 s12"></div>
    <div class="col m8 s12" id="bezier"></div>
    <div class="col m2 s12"></div>
  </div>
  <div class="row">
    <div class="col m2 s12"></div>
    <div class="col m8 s12" id="abstract">
      <p>
        This represents convergence toward greatness, as I define it. The large circles represent milestones.
        These milestones are movable within the screen. Feel free to drag them around.
        Notice that no matter how you move the dots, all paths converge toward my greatness.
        This is an overall representation of my focus and determination through all of life's random
        awesomeness.
      </p>
    </div>
    <div class="col m2 s12"></div>
  </div>
</div>
