.image-container {
  max-width: 1400px;
  max-height: 1400px;
  &>mat-dialog-content {
    overflow: hidden;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }
  & img {
    max-width: inherit;
    max-height: inherit;
    width: auto;
    height: auto;
    cursor: pointer;
  }
}
