<h1>Reading List</h1>

<section>
  <h2>My personal recommendations.</h2>
  <p>Because I only demand of others what I first demand of myself, all written works listed have been read by me.</p>
  <p>Each book has been vetted on the basis of profundity, seminality, and applicability.</p>
</section>

<section>
  <h3>Self-Improvement</h3>
  <ul>
    <li>The New Evolution Diet</li>
    <li>The Power of Now</li>
    <li>PsychoCybernetics</li>
    <li>Mastery</li>
    <li>Think and Grow Rich</li>
  </ul>
</section>

<section>
  <h3>Leadership | Management | Entrepreneurship</h3>
  <ul>
    <li>The Situational Leader</li>
    <li>High Output Management</li>
    <li>The Hard Thing About Hard Things</li>
    <li>Winning (Jack Welch)</li>
    <li>Delivering Happiness</li>
    <li>Mastering the VC Game</li>
    <li>Crucial Conversations</li>
  </ul>
</section>

<section>
  <h3>Psychology</h3>
  <ul>
    <li>The Age of the Crowd</li>
    <li></li>
  </ul>
</section>
