@import './styles/ipad-pro';
@import './styles/ipad';
@import './styles/iphone-5-5s';
@import './styles/iphone-6-7-8';
@import './styles/iphone-6-7-8-plus';
@import './styles/iphone-x';

.nav-container {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;

}

.nav-container a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.nav-container a:hover {
  color: #f1f1f1;
}


@media screen and (max-height: 450px) {
  .nav-container {
    padding-top: 15px;
  }

  .nav-container a {
    font-size: 18px;
  }
}

.nav-container.sidenav-opened {
  width: 16%;
}

.mobile-header {
  background-color: #e7edf13b;
}

#mobileNavIconContainer {
  display: inline-block;
}

#navIcon-mobile {
  z-index: 9999;
}

#navIcon-desktop {
  z-index: 9999;
  height: 100%;
  width: 1%;
  background-color: transparent;

  /* sidenav closed */
  >div.arrow-right {
    border: 1px solid #000;
    border-width: 0 0 2px 2px;
    width: 20px;
    height: 20px;
    line-height: 0;
    font-size: 0;
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg);
    position: fixed;
    top: 43vh;
    left: 5px;

    /*  
    * add .arrow-right-bounce class to make arrow bounce right
    * need img for arrow because bounce class overrides transform rotation that forms arrowassign bounce
    * TODO: create arrow img and make it bounce, wobble dee wobble drop drop it like its hot  
    */    
    &.arrow-right-bounce {
      -webkit-animation: bounceRight 2s infinite;
      animation: bounceRight 2s infinite;
      float: right;
    }

    /* right bounce */
    @-webkit-keyframes bounceRight {
      0%,
      20%,
      50%,
      80%,
      100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
      }

      40% {
        -webkit-transform: translateX(15px);
        transform: translateX(15px);
      }

      60% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
      }
    }

    @-moz-keyframes bounceRight {
      0%,
      20%,
      50%,
      80%,
      100% {
        transform: translateX(0);
      }

      40% {
        transform: translateX(15px);
      }

      60% {
        transform: translateX(0px);
      }
    }

    @keyframes bounceRight {
      0%,
      20%,
      50%,
      80%,
      100% {
        -ms-transform: translateX(0);
        transform: translateX(0);
      }

      40% {
        -ms-transform: translateX(15px);
        transform: translateX(15px);
      }

      60% {
        -ms-transform: translateX(0);
        transform: translateX(0);
      }
    }
    
  }
}

#closeButton {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


