@import './styles/sidenav/ipad-pro';
@import './styles/sidenav/ipad';
@import './styles/sidenav/iphone-5-5s';
@import './styles/sidenav/iphone-6-7-8';
@import './styles/sidenav/iphone-6-7-8-plus';
@import './styles/sidenav/iphone-x';
// default angular-material css
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 100px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  background-color: #000;
}

/* custom css */

mat-sidenav-container {
  background: #f3f3f3;

  & a.activated {
    background: #6392f1;
  }
}

.app-content {
  margin: 1rem 1rem;
}

a .material-icons {
  color: white;
  padding-left: 20%;
}
// Screens >= 13inch
@media only screen and (min-device-width: 1140px) {
  .mat-toolbar.mat-toolbar-single-row {
    display: none;
    box-sizing: none;
    padding: 0px 0px;
    width: 0%;
    flex-direction: none;
    align-items: none;
    white-space: none;
  }
  mat-sidenav {
    background: #a3b8f7;
  }
}

.loading-spinner {
  
}
