<!-- <div id="sidenav" class="nav-container" (mouseleave)="closeNav($event)">
  <a href="javascript:void(0)" id="closeButton" (click)="closeNav($event)">&times;</a>
  <a routerLink="about" [class.activated]="currentUrl == '/about'" (click)="closeNav($event)">about</a>
  <a routerLink="travel-gallery" [class.activated]="currentUrl.includes('travel-gallery')" (click)="closeNav($event)">travel gallery</a>
  <a routerLink="know-thyself" [class.activated]="currentUrl == '/know-thyself'" (click)="closeNav($event)">nosce te ipsum</a>
  <a routerLink="apps" [class.activated]="currentUrl == '/apps'" (click)="closeNav($event)">apps</a>
  <a routerLink="reading-list" [class.activated]="currentUrl == '/reading-list'" (click)="closeNav($event)">good reads</a>
  <a routerLink="writings" [class.activated]="currentUrl.includes('writings')" (click)="closeNav($event)">musings</a>
  <a routerLink="successes" [class.activated]="currentUrl == '/successes'" (click)="closeNav($event)">successes</a>
  <a routerLink="failures" [class.activated]="currentUrl == '/failures'" (click)="closeNav($event)">failures</a>
  <a routerLink="resume" [class.activated]="currentUrl == '/resume'" (click)="closeNav($event)">resume</a>
  <a routerLink="animation" [class.activated]="currentUrl == '/animation'" (click)="closeNav($event)">animations</a>
  <a routerLink="" [class.activated]="currentUrl == ''" (click)="closeNav($event)">dna</a>
  <a routerLink="contact" [class.activated]="currentUrl == '/contact'" (click)="closeNav($event)">contact</a>

</div> -->

<!-- Use any element to open the sidenav -->
<!-- <div id="mobileNavIconContainer">
    <span id="navIcon-mobile" (click)="openNav($event)">&#9776;</span>
</div> -->

<!-- <div id="navIcon-desktop" (mouseenter)="openNav($event)">
  <div class="arrow-right" (click)="openNav($event)"></div>
</div> -->

<div id="mainContent">
  <router-outlet></router-outlet>
  <ng4-loading-spinner [threshold]="50" [timeout]="4000" [loadingText]="" [zIndex]="9999"></ng4-loading-spinner>
</div>

