@import './styles/sidenav/ipad-pro';
@import './styles/sidenav/ipad';
@import './styles/sidenav/iphone-5-5s';
@import './styles/sidenav/iphone-6-7-8';
@import './styles/sidenav/iphone-6-7-8-plus';
@import './styles/sidenav/iphone-x';

#hoverSpace {
  height: 900px;
  width: 10%;
  z-index: 9998;
  background-color: transparent;
}

.nav-container {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;

  /* sidenav opened */
  >span {
    &.arrow {
      display: inline-block;
      position: fixed;
      top: 0;
      left: 0;
    }

    &.arrow-right {
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-left: 20px solid #111;
    }
  }
}

.nav-container a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.nav-container a:hover {
  color: #f1f1f1;
}

.nav-container.sidenav-opened {
  width: 16%;
}

#navIcon {
  height: 100%;
  width: 1%;
  background-color: transparent;

  /* sidenav closed */
  >div.arrow-right {
    border: 1px solid #000;
    border-width: 0 0 2px 2px;
    width: 20px;
    height: 20px;
    line-height: 0;
    font-size: 0;
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg);
    position: fixed;
    top: 43vh;
    left: 5px;
  }
}

#closeButton {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .nav-container {
    padding-top: 15px;
  }

  .nav-container a {
    font-size: 18px;
  }
}
