.image-container {
    padding: .5rem .5rem .5rem .5rem;
    display: inline-block;
    
    & > img {
        max-width:293px;
        max-height:293px;
        width: auto;
        height: auto;
        cursor: pointer;
    }
       
}

