<h1>Welcome to the homepage of Gary Cooper</h1>

<p>This site is intended to: chronicle my life, communicate my thoughts, and ultimately inspire everyone within my reach.</p>  

<p>
  <b>Tech Stack:</b>
  Angular v6.0
  RxJs v6.2.2
  Typescript v2.7.2
  Webpack v4.8.3
  Node v10.6.0
</p>

<p>All contents herein are products of the creative and intellectual horsepower of the author, Gary Michael Cooper, Jr and are not to be copied or distributed without express written consent by the author.</p>

<!-- <ul>
  <li><strong>Username:</strong> {{ user$.username }}</li>
  <li><strong>Email:</strong> {{ user$.email }}</li>
  <li><strong>Phone:</strong> {{ user$.phone }}</li>
</ul> -->