<div class="failure-container page-content">
  <div class="row">
    <div class="col m2"></div>
    <div class="col m8 s12">
      <div class="content">
        <h2>Failure</h2>

        <p>Personal reflections on events in my life that I consider to be failures.</p>

        <p>
          <b>Definition of failure: </b>
          (noun) lack of success
        </p>

        <p>Below I have listed some failures in approximate chronological order:</p>

        <section>
          <h4>My Biggest Professional Failure</h4>
          <p>
            I was working on a startup called Adilate with a friend from undergrad.
            The idea was to port the real-time bidding systems found online to the digital out-of-home (DOOH) billboard
            space.
            This would allow advertisers to bid on digital billboard ads for a given location in real time.
            After a few rounds of investor meetings, it was clear that our business case had a major roadblock.
            We needed a foundation for which to base the bid prices for the ads.
            On the internet, these bidding systems are price-driven by analytics such as user location, browser
            history,
            and
            conversions which can all be tracked.
            We had zero analytics for the DOOH space. How could we know if a peson saw a billboard ad and then directly
            made
            a purchase because of it?
            After attending Ad-Tech NYC, I was inspired by watching pedestrians as they passed by an eye-level
            billboard
            on
            the sidewalk.
            What if we could collect as much information as possible about every pedestrian without uniquely
            identifying
            the
            person?
            Would this serve as a solid foundation for our analytics platform?
            My idea was to get daily number of pedestrians, direction of travel, location, weather, race, sex, age, eye
            color, hair color, height, weight,
            and most importantly, facial expression before, during, and after seeing the ad.
            I felt that emotional content should be the highest weighted feature, but it was impossible to attain.
            As of 2012, I had no clue how to capture facial expression of emotion, nor did anyone that I knew of.
            I decided to try and circumvent this issue and provide an analytics platform without it.
            The system was simply insufficient.
            We never gained investor traction and eventually abandoned the project.
          </p>

          <p>
            In 2016, I found this article:
            <a href="https://techcrunch.com/2016/01/07/apple-dives-deeper-into-artificial-intelligence-by-acquiring-emotient/">Apple
              buys Emotient</a>.
          </p>
          <p>
            Apple purchased a startup called Emotient, whose product solved one problem: recognize emotions from facial
            expressions.

            At the same time I recognized a market need for automated software to recognize human emotion, Emotient was
            founded to provide this solution.
          </p>

          <p>
            I consider my biggest professional failure to be this: I was too stubborn about my original idea.
            The real startup idea should have been to solve the facial expression issue, not invent an RTB system for
            digital
            billboards.
            If we'd been more flexible in our approach to entrepreneurhsip perhaps Apple would have bought our company
            rather
            than Emotient, and I'd be blogging about this
            from my Caribbean villa.
          </p>
        </section>

        <section>
          <h4>Learn to Delegate</h4>
          <p>
            In 2015 I became a UI Development Lead for the first time in my consulting career. I had four software
            developers
            working for me in a distributed capacity between Charlotte, Mexico, and India.
            My job was to lead the development effort by
            translating business
            requirements into functional requirements, breaking down applicaiton features into small, deliverable units
            of development,
            distributing the work, and ensuring code completion in a timely manner in accordance with industry best
            practices.
          </p>
          <p>
            The United States Congress issued a consent order mandating that our line of business comply with federal
            regulations
            by a given date or it would be shut down. This created intense pressure on our team to deliver a functional
            compliance
            application to be used globally and enterprise-wide.
          </p>
          <p>
            As the project lead, I felt great pressure because I was ultimately responsibile for my team, and because
            a couple developers on my team had a reputation for producing low quality code. Rather than trust critical 
            development efforts to my team, I decided to bear the brunt of the workload myself.
          </p>     
          <p>
            For three months, I worked 12-14 hour days developing. My body physically could not handle this workload. I
            experienced physical pain
            from sitting too much, and I also got sick a few times which caused me to miss work. Eventually, I
            realized that no matter how skilled I was,
            I couldn't deliver a product on my own. It takes a team!
          </p>
          <p>
            I realized that delegation of work and a regimented mentoring process to build quality into 
            our codebase was a much more effective approach. After evenly distributing the workload I reviewed all code commits and
            conducted live screen-sharing sessions where I would cooperatively re-write code while explaining industry best practices to each developer.            
          </p>
          <p>
            In the end, not delegating was a failed strategy. I damaged my health and the project. Luckily, I realized that delegation and mentorship were keys to success.
            We were the only team (out of six teams in the business unit) to deliver a working application to a live production environment on time.
            Bank of America actually wrote a front-page article about our application delivery success and posted it to the bank's internal website. 
          </p>
        </section>
      </div>
    </div>
    <div class="col m2"></div>
  </div>
</div>
