<div class="draggable-desktop-container">
  <div class="row">
    <div class="col m2 s1"></div>
    <div class="col m8 s10">
      <div [ngWidgetContainer]="dashboardconfig$.WidgetContainer" class="widget-container">
        <div id="centeringWrapper">
          <div *ngFor="let widgetmetadata of dashboardconfig$.Widgets; let i=index" [ngWidget]="widgetmetadata.config">
            <div class="handle">{{ widgetmetadata.name }}</div>
            <img [src]="widgetmetadata.src">
          </div>
        </div>
      </div>
    </div>
    <div class="col m2 s1"></div>
  </div>
</div>
