.widget-container {
    background-color: #282828;
    position: relative;
    width: 100%;
    height: 600px;

    & .widget {
        position: absolute;
        color: #fff;
    
        > .handle {
            width: 100%;
            height: 50px;
            color: #fff;
            background: #424a51;
            font-weight: 500;
            padding: 15px;
            box-sizing: border-box;
        }
    }
} 

.widget.moving {
    z-index: z-index + 1;
}
 
.widget-placeholder {
    position: absolute;
}