/* Landscape */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
    
    #enterButton {
        top: 85%;
        left: 44%;
      }

}

/* Portrait */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
   
    #enterButton {
        top: 85%;
        left: 42%;
      }
  
}
