<div class="apps-container page-content">
  <h1>Apps</h1>

  <section>
    <p>Because knowledge without application is useless.</p>
    <p>Click the app name to download the source from github.</p>
  </section>

  <ul>
    <li><a href="https://github.com/SirCoop/gmc/archive/master.zip">GMC</a> - This.</li>
    <li><a href="https://github.com/SirCoop/babyNames/archive/master.zip">Babynames</a> - Search the names of all U.S. born children since 1880.</li>
    <li><a href="https://github.com/SirCoop/UrBank/archive/master.zip">UrBank</a> - Interview codesample.</li>
    <li><a href="https://github.com/SirCoop/respitebnb/archive/master.zip">RespiteBnB</a> - Google Maps experimentation.</li>
    <li><a href="https://github.com/SirCoop/ionicScaffold/archive/master.zip">IonicScaffold</a> - Mobile splash page.</li>
  </ul>
</div>