/* Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  #sidenav.nav-container {
    &.sidenav-opened {
      width: 30%;
      padding-top: 10px;

      #closeButton {
        font-size: 2.25rem;
      }

      a {
        font-size: 1.5rem;        
      }
    }    

  }

  #navIcon-mobile {
    font-size: 3rem;
    margin-left: .5rem;
  }
}

/* Portrait */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  #sidenav.nav-container {
    &.sidenav-opened {
      width: 60%;
      padding-top: 10px;

      #closeButton {
        font-size: 2.25rem;
      }

      a {
        font-size: 2.5rem;
      }
    }    

  }

  #navIcon-mobile {
    font-size: 3rem;
    margin-left: 1rem;
  }

}
