/* Landscape */

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
  #sidenav.nav-container {
    &.sidenav-opened {
      width: 60%;
      padding-top: 18px;

      #closeButton {
        font-size: 4.5rem;
      }

      a {
        font-size: 3rem;
      }
    }    

  }

  #navIcon-mobile {
    font-size: 3rem;
    margin-left: 1rem;
  }

}

/* Portrait */

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  #sidenav.nav-container {
    &.sidenav-opened {
      width: 60%;
      padding-top: 18px;

      #closeButton {
        font-size: 4.5rem;
      }

      a {
        font-size: 3rem;
      }
    }    

  }

  #navIcon-mobile {
    font-size: 3rem;
    margin-left: 1rem;
  }
}
