/* Landscape */

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
  #sidenav.nav-container {
    &.sidenav-opened {
      width: 40%;
      padding-top: 10px;

      #closeButton {
        font-size: 2.25rem;
      }

      a {
        font-size: 1.5rem;        
      }
    }    

  }

  #navIcon-mobile {
    font-size: 2rem;
    margin-left: .5rem;
  }
}

/* Portrait */

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
  #sidenav.nav-container {
    &.sidenav-opened {
      width: 75%;
      padding-top: 10px;

      #closeButton {
        font-size: 2.25rem;
      }

      a {
        font-size: 1.5rem;
      }
    }    

  }

  #navIcon-mobile {
    font-size: 2rem;
    margin-left: .5rem;
  }

}
