/* Landscape */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
  #sidenav.sidenav-opened {
    width: 75%;
  }

  #navIcon-mobile {
    font-size: 2rem;
    margin-left: .5rem;
  }
}

/* Portrait */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
  #sidenav.sidenav-opened {
    width: 75%;
  }

  #navIcon-mobile {
    font-size: 2rem;
    margin-left: .5rem;
  }

}
