<div class="self-assessment-container">
  <h1>Self-Assessment</h1>
  <mat-tab-group #tabgroup>
    <mat-tab label="Technical Skills">
      <ng-template matTabContent>
        <app-bullet-chart-mobile *ngIf="isMobile" [dataSource]="dataSource"></app-bullet-chart-mobile>      
        <app-bullet-chart *ngIf="!isMobile" [dataSource]="dataSource"></app-bullet-chart>
      </ng-template>
    </mat-tab>
    <mat-tab label="Behaviorial Analysis">
      <ng-template matTabContent>
        <h2>Predictive Index</h2>
        
        <pdf-viewer [fit-to-page]="fitToPage" [zoom]="zoom" [autoresize]="autoresize" [show-all]="showAll" [src]="pdfSrc1" [render-text]="renderText"
          style="display: block"></pdf-viewer>
      </ng-template>
    </mat-tab>
    <mat-tab label="Personality Assessment">
      <ng-template matTabContent>
        <h2>Meyers Briggs (ENTP): Extroverted | Intuitive | Thinking | Perceptive</h2>
        
        <pdf-viewer [fit-to-page]="fitToPage" [zoom]="zoom" [autoresize]="autoresize" [show-all]="showAll" [src]="pdfSrc2" [render-text]="renderText"
          style="display: block"></pdf-viewer>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
