<div id="landing-page" (click)="enterApp()">
    <div class="dna-wrapper">
        <div id="A">&bull;</div>
        <div id="T">&bull;</div>
        <div id="C">&bull;</div>
        <div id="G">&bull;</div>
        <div id="A2">&bull;</div>
        <div id="T2">&bull;</div>
        <div id="C2">&bull;</div>
        <div id="G2">&bull;</div>
        <div id="A3">&bull;</div>
        <div id="T3">&bull;</div>
        <div id="C3">&bull;</div>
        <div id="G3">&bull;</div>
        <div id="A4">&bull;</div>
        <div id="T4">&bull;</div>
        <div id="C4">&bull;</div>
        <div id="G4">&bull;</div>
        <div id="A9">&bull;</div>
        <div id="T9">&bull;</div>
        <div id="C9">&bull;</div>
        <div id="G9">&bull;</div>
        <div id="A10">&bull;</div>
        <div id="T10">&bull;</div>
        <div id="C10">&bull;</div>
        <div id="G10">&bull;</div>
        <div id="A11">&bull;</div>
        <div id="T11">&bull;</div>
        <div id="C11">&bull;</div>
        <div id="G11">&bull;</div>
        <!-- <div id="enterButton" class="pulsate" (click)="enterApp()">Enter</div> -->
    </div>
</div>