<div class="row">
  <div class="col m7 s12">
    <img [src]="imagePath" />
  </div>
  <div class="col m5 s12" id="description">
    <p>Triple Point is a concept borrowed from Thermodynamics. Its the point on a Pressure vs. Temperature graph
      where water exists in all three phases at once (solid, liquid, and gas).
    </p>
    <p>
      I've created this analogy to illustrate my most general definition of success:
      Its when I find the intersection of my passion, ability, and market demand.
      This means that I am getting paid to do what I love because I do it well.
    </p>
    <p>
      As one's lifetime continues, time causes pressure to increase. This pressure is defined as
      the realization that one is getting older and therefore must do what is necessary for self-preservation in old age.
    </p>
    <p>
      Ideally we find our triple point at such a young age where career pivots, changes, transitions can be absorbed
      into our long-range plans. With time, this absorption becomes less likely and eventually becomes an irrevocable disruption.
      This defines the critical point: the point at which one must sacrifice passion and engage employment in any capacity 
      supporting one's abilities and general market demand.
    </p>
    <p>
      One caveat to this, money buys time. If one is wealthy enough to be secure for the future then one's critical point moves
      closer toward the end of one's life. Career changes can be easily absorbed because money is less of a concern. 
    </p>
  </div>
</div>
