<h1>Success</h1>

<section>
  <p>Personal reflections on events in my life that I consider to be successes.</p>
</section>

<section>
  <p>
    <b>Definition of success: </b>
    (noun) the accomplishment of an aim or purpose
  </p>
</section>

<p>Below I have listed some successes in approximate chronological order:</p>

<section>
    <h4>Goal: Provide for my son</h4>
    <p>My son Noah was born when I was 17.
      At the time, I lived with my mother who was hopelessly strung out on alcohol, prescription pills, and probably some other things.
      We are were penniless.
      I wrapped blankets in plastic and stuffed them into the broken windows sills to keep out the draft.
      We had no heat in the house. For three winters I used the oven to keep the house warm. I still remember
      waking up to freezing temperatures in the morning.
      I couldn't raise a child in this environment. I knew something had to be done. I wrote a letter my high school principal, Mr. Anderson.
      In the letter, I asked Mr. Anderson if I could be enrolled into a special program that would allow me to take extra coursework online.
      I stated that my living conditions were deplorable, and I needed money to provide for my son. I needed to graduate early to get my life started.
      Most kids in this program are behind graduation schedule and use this time to catch up. I was in it to get ahead.
      I went to high school during regular hours, 8:30am-3:30pm, and then I took my self-paced courses from 4pm-9pm.
      After six months, I graduated a semester early and shipped off to the Air Force. 
      I owe Mr. Anderson a debt of gratitude for going to bat for me more than once.
      He also covered my cab fare once for a ride to school after unsuccessfully trying to ditch the cab. The end justifies the means right?
      The Air Force was a great experience for me.
    </p>
</section>

<section>
    <h4>Goal: Attend College</h4>
    <p>I was the first in my family to attend a 4-year university program. At the time of enrollment, I didn't know what major I wanted.
        I only knew that I wanted the best return on my investment.
        I asked the admissions counselor what the hardest programs was at UNC Charlotte.
        She said it was electrical engineering. I enrolled thinking that if I can do the hardest program they offer, then I can everything else as well.
        Surely the hardest degree to earn would pay a decent wage until I figured out what I really wanted to do in life.
        So far the plan has worked.
    </p>
</section>

<section>
    <h4>Goal: Run my own business</h4>
    <p>
    </p>
</section>

<section>
    <h4>Goal: Break the Cycle of Poverty and Self-Destruction</h4>
    <p>
    </p>
</section>

<section>
    <h4>Goal: Train Myself for a New Career in Software</h4>
    <p>
    </p>
</section>
