<div class="success-container page-content">
  <div class="row">
    <div class="col m2"></div>
    <div class="col m8 s12">
      <h2>Success</h2>

      <section>
        <p>Personal reflections on events in my life that I consider to be successes.</p>
      </section>

      <section>
        <p>
          <b>Definition of success: </b>
          (noun) the accomplishment of an aim or purpose
        </p>
      </section>

      <p>Below I have listed some successes in approximate chronological order:</p>

      <section>
        <h4>Break the Cycle of Poverty and Self-Destruction</h4>
        <p>
          I vowed early in life to be the exact opposite of my parents.
          I never viewed them as role models. In fact, I viewed them as degenerates.
          Everything about them was a cautionary tale of selfishness, profligacy, addiction, and wreckless impulse.
          Growing up I received very little guidance and a lot of neglect.
          I didn't know which way was morally right, but I knew their ways were definitely wrong.
          My justifications were my direct and indirect sufferings.
          The greatest evil is causing the unnecessary suffering of others.
          I refused to be that evil to my children, family, friends, neighbors, and fellow members of society.
          Via Negativa (latin for 'the negative way') is a beautifully simplistic idea that
          I owe my life to.
        </p>
      </section>

      <section>
        <h4>Join the Air Force</h4>
        <p>I graduated high school one semester early by attending regular classes from 8:30am-3:30pm and then
          completing self-paced, online courses from 4pm-9pm.
          Early graduation gave me the opportunity to join the United States Air Force at the age of 17. While my
          friends were walking the stage, I was learning how to fix multi-million dollar aircraft.
          During this time I received three advanced promotions. I made E-4 below-the-zone (six months early), and I was
          the number 3 selectee across the entire Air Force for E-5...by the age of 19.
        </p>
      </section>

      <section>
        <h4>Become a Rescue Scuba Diver</h4>
        <p>
          Scuba diving is a popular activity in Okinawa, Japan.
          I was stationed there for three years while on active duty.
          During this time, I got my PADI open water scuba diver certification.
          I found a dive buddy who was equally passionate and we explored every dive site we could find around the
          island.
          Dive safety is a big concern because such an activity is inherently dangerous.
          I've been to 128 feet of depth with nothing but an air regulator to keep me breathing. That's scary.
          And being so adventurous, my buddy and I often went night diving.
          After realizing the risks first-hand, and hearing stories of other active duty members dying, we decided to
          become NAUI certified rescue scuba divers.
          Going through rigorous rescue dive training gave us more awareness of risks and better decision making skills
          about when to enter the water and what to do while submerged.
          To this day, I've got 92 dives and have only had one safety incident, which I thankfully survived.
        </p>
      </section>

      <section>
        <h4>Run my own business</h4>
        <p>After separating from the Air Force, I decided to try my hand at entrepreneurship by starting a shoe and
          clothing company.
          I found suppliers for sneakers, boots, polo shirts, jeans, shorts, t-shirts, and printing materials. I then
          created my own t-shirt designs with photoshop, printed them,
          and heat-pressed them onto blank t-shirts. My custom-made t-shirts were distributed to independent clothiers
          across Charlotte. The radius of my
          shoe business extended beyond the state borders. People literally went crazy for my sneakers. I sold them in
          front of night clubs, simon malls, and
          sporting events. In the end, gross revenue from the trunk of my car was on the order of $250,000 USD in shoes and $60,000 USD in clothing.
          Eventually I liquidated in favor of going to college...but at a nice profit.
        </p>
      </section>

      <section>
        <h4>Attend College</h4>
        <p>I was the first in my family to graduate from a 4-year university program. At the time of enrollment, I didn't know
          what major I wanted.
          I only knew that I wanted the best return on my investment.
          I asked the admissions counselor what the hardest program was at UNC Charlotte.
          She said it was electrical engineering. I enrolled thinking that if I can do the hardest program they offer,
          then
          I can everything else by default.
          Surely the hardest degree would pay a decent wage until I figured out what I really wanted to do in life.
          So far the plan has worked.
        </p>
      </section>

      <section>
        <h4>Get an MBA</h4>
        <p>
          I applied to Stanford and Duke. Both denied me.

          The University of Miami offered me a 25% scholarship to attend their MBA program.
          After crunching the numbers, I felt the remaining expense of the educational experience was still too high.
          I negotiated the scholarship up to 50% and they accepted.

          The University of Miami offered me $40,000 USD to attend their MBA program.

          I crunched the numbers again, and thought to myself why not just shoot for 100%. I genuinely felt that I
          deserved
          it.
          I reached back out to the University of Miami and tried to negotiate a 100% scholarship.
          They declined.

          I didn't end up attending their program, but I still consider this a success because I learned some valuable
          lessons:
        </p>
        <ul>
          <li>The Spanish word for business is negocios. The root of which is the same as negotiation.
            I was embodying business by virtue of this negotiation, and it worked...at least partially.
          </li>
          <li>Make data-driven decisions, but let your intuition be the guide.</li>
          <li>Never be afraid to walk away from a deal.</li>
        </ul>

        <p>I am reapplying to the Fuqua School of Business at Duke University using this website as the basis for my application.
          I believe that garycooper.io demonstrates my hyper-dimensionality, skills, background, and ambition
          more than any hand-written essay possibly could do.
        </p>
      </section>

      <section>
        <h4>Become a Computer Scientist</h4>
        <p>
          From 2010 to 2013 I worked in the nuclear engineering field.
          I automated robots that processed weapons-grade plutonium, and I designed safety automation systems for
          nuclear
          reactors - all very politically sexy.
          Theoretically the work was a perfect fit due to my affinity for nuclear physics, but reality proved
          different.
          The extreme regulatory nature of the industry constantly stunted my ambition and innovative drive.
          I wanted to get out of the industry, but my skills didn't translate to other career opportunities that I
          found
          interesting, namely software.
          After the Fukushima incident the entire nuclear industry came under scrutiny. Germany pulling out caused a
          major
          negative shift in public opinion.
          My company lost a lot of work. All of my projects dried up and many engineers were laid off or put on furlough.

          I was one of the few engineers who remained intact. 
        </p>
        <p>
          However, I felt a sense of anxiety about my career. I felt trapped in the sense that I was too dependent on one company/industry/skillset: layoff was imminent,
          other companies weren't hiring, and my skills wouldn't translate well to other industries. 

          I made a personal commitment to use my downtime at work to teach myself hard technical skills that would keep me in demand in any given
          city
          in the world; skills that would
          give me power at my fingertips.
          I went through five levels of management to get a free IDE installed on my desktop at work. I bought an
          Oracle
          book on Java-based programming and
          taught myself. I started at page one and went through every lesson in the book.
        </p>
        <p>
          After nine weeks of not having nuclear project work, I finally got laid off. Refusing to go back into the nuclear industry, I
          submitted
          [263] applications for software engineering jobs.
          All of my applications were auto-rejected. "While your qualifications are impressive, we've decided that
          you're
          not a fit at this time...".

          Eventually I learned how to tailor my resume for the job that I wanted and landed my first software gig.

          Then I branched out to learn C# and Javascript.
          Within my first year as a software engineer, I learned over 18 technologies.
          Since then I've spent thousands of hours studying and practicing Computer Science and have
          more
          than doubled my income. At this point in my career, I've mounted just over 10,000 hours and consider myself to 
          have entered the "Mastery" or "Craftsman" phase.
        </p>
      </section>

      <section>
        <h4>Learn Martial Arts</h4>
        <p>
          I spent three months training at a professional Muay Thai fight camp in Phuket, Thailand.
          I focused solely on sobriety, flexibility, strength, and hand-to-hand combat skills during this time.
          My training regimen consisted of yoga, muay thai, muay boran, and cross-fit for five hours per day, six days
          per
          week.
          After three months, I came home.
          My energy and confidence were high, and my life goals were narrowly focused and achievable.
          I felt like a new man.
          Since then, martial arts have become an integral part of my life.
          Seeking more esoteric wisdom, I've begun training Russian Systema.
          Systema has entered my spirit and changed my life in more ways than I could have ever imagined.
          I've learned the goal is not to fight, but to gain self-knowledge and use it to live a fulfilling life.
          We learn through the pain from the strikes we give and take. We learn from healing others through strikes.
          We learn that we can't live a fulfilling life if we are dead. The fight keeps us alive.
        </p>
      </section>

      <section>
        <h4>Become an Artificial Intelligence Engineer</h4>
        <p>
          Prior to applying for an MS in Computer Science specializing in Artificial Intelligence, I thought it would
          be a
          good idea to explore
          my aptitude and interest in the subject. I signed up for a four-course Machine Learning specialization via
          Coursera.
          This coursework is taught by two Amazon professors of Machine Learning at the University of Washington. It
          covers
          foundational use cases,
          linear and logistic regression, and clustering and retrieval. I fell in love with ML.
          Once I completed those courses, I signed up for Andrew NG's Deep Learning specialization.
          This specialization includes five courses on the foundations of deep learning.
          The lectures are very rigorous, the math is hard, and the programming exercises are even more difficult.
          Over the last year and a half, I have spent well over 1000 hours completing nine certifications in Machine
          Learning.
        </p>
      </section>

      <section>
        <h4>Learn to Dance</h4>
        <p>
          I travelled to Cuba, Costa Rica, and Colombia during the summer of 2017. This latin american experience had a profound impact on me.
          I truly started understanding the culture and became enamored. I fell in love with every facet of the culture, namely, people, food, music, language,
          and dancing. One particular event sparked my desire to learn latin dancing.
        </p>
        <p>
          A group of us were having dinner in a restaurant located on a mountain top outside of Domical, CR. The view was gorgeous as the dining room overlooked the 
          city and beach beneath. After dinner, my friend Pat (a caucasian from Seattle who had fully acculturated to el estilo de vida latino)
          made a request to the owner to play some salsa music. The dancefloor adjacent to the dining room filled
          up immediately. Random gentlemen paired themselves with random ladies and everyone began smiling and dancing salsa. Pure happiness permeated the air.
          I eagerly watched Pat as he confidently and ever so gently guided the young lady through a beautiful orchestration of ballroom salsa.
          She was so happy to be dancing, smiling the entire time, and giving exclamations of joy with every spin.
        </p>
        <p>
          I felt completely segregated from the fun. I desperately wanted to feel what everyone else was feeling, but I was paralyzed by inadequacy. I didn't know 
          to dance or lead a woman through a dance. I appreciated the experience of watching, but I decided on the spot that I would never in my life be left out of
          the fun again.
          When I came home I started taking dance lessons immediately in Salsa and Bachata. I've been going four hours per week consistently for a year and a half now.
          Finally, I am confident enough to walk up to any woman in the room, extend my hand, ask her to dance, and take responsibility for her entertainment for the next 3-5 minutes.
          That's a big deal because boredom is the death of any relationship with a woman.
        </p>
      </section>

      <section>
        <h4>Travel the World</h4>
        <p>
          In progress. See my <a routerLink="/travel-gallery">Travel Gallery</a>
        </p>
      </section>

      <section>
        <h4>Build Generational Wealth</h4>
        <p>
          In progress.
        </p>
      </section>

      <section>
        <h4>Become a Tech Entrepreneur</h4>
        <p>
          I am on the tail end of a 10-year learning curve:
        </p>
        <ul>
          <li>4 years - Electical Engineering</li>
          <li>4 years Computer Science</li>
          <li>1.5 years - Machine Learning</li>
        </ul>
        <p>
          I've reached the absolute edge of technology at this point in time. I'm aware of questions that no one can currently answer.
          Though this edge is constantly pushing forward, so am I.

          I feel very seasoned due to all that I've learned and created. Most importantly, I've learned how to learn. I feel confident in leading a software enterprise from a
          technology standpoint.

          I can start from scratch and architect scalable, extensible, modular, and performant web applications.

          Now, its a matter of finding a co-founder with synergy and shared passion.

          I have faith it will all come together.
        </p>
      </section>
    </div>
    <div class="col m2"></div>
  </div>
</div>
