<div class="success-container">
  <h1>Success</h1>

  <section>
    <p>Personal reflections on events in my life that I consider to be successes.</p>
  </section>

  <section>
    <p>
      <b>Definition of success: </b>
      (noun) the accomplishment of an aim or purpose
    </p>
  </section>

  <p>Below I have listed some successes in approximate chronological order:</p>

  <section>
    <h4>Goal: Join the Air Force</h4>
    <p>I graduated high school one semester early by attending regular classes from 8:30am-3:30pm and then completing self-paced, online courses from 4pm-9pm.
        Early graduation gave me the opportunity to join the United States Air Force at the age of 17. While my friends were walking the stage, I was learning
        how to fix multi-million dollar aircraft.
    </p>
  </section>

  <section>
    <h4>Goal: Run my own business</h4>
    <p>After separating from the Air Force, I decided to try my hand at entrepreneurship by starting a shoe and clothing company.
      I found suppliers for sneakers, boots, polo shirts, jeans, shorts, t-shirts, and printing materials. I then created my own t-shirt designs with photoshop, printed them,
      and heat-pressed them onto blank t-shirts. My custom-made t-shirts were distributed to independent clothiers across Charlotte. The radius of my 
      shoe business extended beyond the state borders. People literally went crazy for my sneakers. I sold them in front of night clubs, simon malls, and
      sporting events. In the end, I sold over $250K worth of shoes out of the trunk of my car.
      Eventually I liquidated in favor of going to college...but at a nice profit.
    </p>
  </section>

  <section>
    <h4>Goal: Attend College</h4>
    <p>I was the first in my family to attend a 4-year university program. At the time of enrollment, I didn't know what major I wanted.
        I only knew that I wanted the best return on my investment.
        I asked the admissions counselor what the hardest program was at UNC Charlotte.
        She said it was electrical engineering. I enrolled thinking that if I can do the hardest program they offer, then I can everything else by default.
        Surely the hardest degree would pay a decent wage until I figured out what I really wanted to do in life.
        So far the plan has worked.
    </p>
  </section>

  <section>
      <h4>Goal: Break the Cycle of Poverty and Self-Destruction</h4>
      <p>
      </p>
  </section>

  <section>
      <h4>Goal: Train Myself for a New Career in Software</h4>
      <p>
      </p>
  </section>

  <section>
      <h4>Goal: Build Generational Wealth</h4>
      <p>
      </p>
  </section>
</div>
