<div class="writings-container">
  <h1>Writings</h1>

  <section>
    <h3>This section is dedicated to my personal musings.</h3>
    <p>I owe my life to writing.</p>
    <p>
      My pen has been my best friend ever since I was a child; it never lets me down; never betrays me; knows all of my thoughts,
      feelings, and secrets; always here for me when I need it, with no judgement and no condescension; gives me the ultimate
      freedom of expression; never jealous; and always giving until there's nothing left to give; the perfect relationship.
    </p>
  </section>

  <section>
      <mat-tab-group #tabgroup (selectedTabChange)="tabChanged($event)">
          <mat-tab label="journal">
            <ng-template matTabContent class="tab-content">
              <div class="list-container">
                <div *ngFor="let item of writings$.journal" class="writing-item">
                    <a [routerLink]="['./', item.type, item.fileName]">{{item.value}}</a>
                </div>
              </div>              
            </ng-template>
          </mat-tab>
          <mat-tab label="metaphorical_art">
            <ng-template matTabContent class="tab-content">
              <div id="metaphoricalArt" class="row">
                <div class="column-left">
                  <div class="list-container">
                    <div *ngFor="let item of writings$.metaphorical_art" class="writing-item">
                      <a href="javascript:void(0)" (click)="viewArt(item.type, item.fileName)">{{item.value}}</a>
                    </div>
                  </div> 
                </div>
                <div class="column-right">
                  <div class="photo-container">
                    <app-inline-reader [writingType]="writingType" [fileName]="fileName"></app-inline-reader>
                  </div>
                </div>
              </div>              
            </ng-template>
          </mat-tab>
          <mat-tab label="blue_ocean">
              <ng-template matTabContent class="tab-content">
                <div class="list-container">
                  <div *ngFor="let item of writings$.blue_ocean" class="writing-item">
                    <a [routerLink]="['./', item.type, item.fileName]">{{item.value}}</a>
                  </div>
                </div>
              </ng-template>
            </mat-tab>
        </mat-tab-group>
  </section>
</div>
