.writings-container {
    color: #fff;
}

.list-container {
    margin-top: 1rem;    
    overflow: auto;

    &.mArt {
        border-right: 1px solid 383838;
        height: 600px;
    }
}

.writing-item {
    padding: .3rem .3rem;
}

.bo-header {
    > .quote {
        font-weight: bold;
    }

    > .author {
        text-align: center;
    }
}