<nav>
  <ul>
    <li>
      <a routerLink="" [class.activated]="currentUrl == '/'">
        <i class="material-icons">location_city</i>
      </a>
    </li>
    <li>
      <a routerLink="" [class.activated]="currentUrl == '/about'">
        <i class="material-icons">fingerprint</i>
      </a>
    </li>
    <li>
      <a routerLink="" [class.activated]="currentUrl == '/writings'">
        <i class="material-icons">folder</i>
      </a>
    </li>
    <li>
      <a routerLink="" [class.activated]="currentUrl == '/travel-gallery'">
        <i class="material-icons">collections</i>
      </a>
    </li>
    <li>
      <a routerLink="" [class.activated]="currentUrl == '/apps'">
        <i class="material-icons">view_module</i>
      </a>
    </li>
    <li>
      <a routerLink="" [class.activated]="currentUrl == '/reading-list'">
        <i class="material-icons">list</i>
      </a>
    </li>
    <li>
      <a routerLink="" [class.activated]="currentUrl == '/'">
        <i class="material-icons">supervised_user_circle</i>
      </a>
    </li>
    <li>
      <a routerLink="posts" [class.activated]="currentUrl == '/posts'">
        <i class="material-icons">message</i>
      </a>
    </li>
  </ul>
</nav>
