/* Landscape */

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
  mat-sidenav-container > mat-sidenav {
    background: #c1cffb;
  }
  
  .mat-toolbar.mat-toolbar-single-row {
    background: #a3b8f7;
    color: white;

    & mat-icon {
      color: white;
    }
  }
}

/* Portrait */

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
  mat-sidenav-container > mat-sidenav {
    background: #c1cffb;
  }
  
  .mat-toolbar.mat-toolbar-single-row {
    background: #a3b8f7;
    color: white;

    & mat-icon {
      color: white;
    }
  }
}
