/* Landscape */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
    mat-sidenav-container > mat-sidenav {
        background: #c1cffb;
      }
      
      .mat-toolbar.mat-toolbar-single-row {
        background: #a3b8f7;
        color: white;
  
        & mat-icon {
          color: white;
        }
      }
}

/* Portrait */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
    mat-sidenav-container > mat-sidenav {
        background: #c1cffb;
      }
      
      .mat-toolbar.mat-toolbar-single-row {
        background: #a3b8f7;
        color: white;
  
        & mat-icon {
          color: white;
        }
      }
}
