  <h3>Passions:</h3>
  <p>Learning, Traveling, Technology, Psychology, Philosophy, Writing, Latin Dancing, Russian Systema, Thai
    Boxing,
    Scuba
    Diving
  </p>

  <h3>National Geographic Geno 2.0 DNA Results:</h3>
  <ul>
    <li>64% Italian (Tuscany)</li>
    <li>11% Russian (Moscow)</li>
    <li>7% Persian</li>
    <li>6% North Indian</li>
    <li>6% Northwestern European (Ireland/UK)</li>
    <li>4% Arabian</li>
    <li>2% East African (Ethiopia)</li>
  </ul>
  <p>
    I have paternal and maternal matches to Rameses the Great, Nicolaus Copernicus, Queen Victoria, and Abraham
    Lincoln.
  </p>
