<div class="dna-container">
  <div class="row">
    <div class="col m2 s1"></div>
    <div class="col m8 s1">
      <div class="dna-wrapper">
        <div id="A">&bull;</div>
        <div id="line1" class="value">Loyalty</div>
        <div id="T">&bull;</div>
        <div id="C">&bull;</div>
        <div id="G">&bull;</div>
        <div id="A2">&bull;</div>
        <div id="line2" class="value">Knowledge</div>
        <div id="T2">&bull;</div>
        <div id="C2">&bull;</div>
        <div id="G2">&bull;</div>
        <div id="A3">&bull;</div>
        <div id="line3" class="value">Vision</div>
        <div id="T3">&bull;</div>
        <div id="C3">&bull;</div>
        <div id="G3">&bull;</div>
        <div id="A4">&bull;</div>
        <div id="line4" class="value">Persistence</div>
        <div id="T4">&bull;</div>
        <div id="C4">&bull;</div>
        <div id="G4">&bull;</div>
        <div id="A9">&bull;</div>
        <div id="T9">&bull;</div>
        <div id="C9">&bull;</div>
        <div id="G9">&bull;</div>
        <div id="A10">&bull;</div>
        <div id="T10">&bull;</div>
        <div id="C10">&bull;</div>
        <div id="G10">&bull;</div>
        <div id="A11">&bull;</div>
        <div id="T11">&bull;</div>
        <div id="C11">&bull;</div>
        <div id="G11">&bull;</div>
        <div id="tagline"><h5>What's in your DNA?</h5></div>

      </div>
    </div>
    <div class="col m2 s1"></div>
  </div>
</div>


<!-- <h3>Passions:</h3>
  <p>Learning, Traveling, Technology, Psychology, Philosophy, Writing, Latin Dancing, Russian Systema, Thai
    Boxing,
    Scuba
    Diving
  </p>

  <h3>National Geographic Geno 2.0 DNA Results:</h3>
  <ul>
    <li>64% Italian (Tuscany)</li>
    <li>11% Russian (Moscow)</li>
    <li>7% Persian</li>
    <li>6% North Indian</li>
    <li>6% Northwestern European (Ireland/UK)</li>
    <li>4% Arabian</li>
    <li>2% East African (Ethiopia)</li>
  </ul>
  <p>
    I have paternal and maternal matches to Rameses the Great, Nicolaus Copernicus, Queen Victoria, and Abraham
    Lincoln.
  </p> -->
