#headline {
  text-align: center;
}

.logo-container {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1.5rem;
}

img {
  display: block;
  // reduce max-* to reduce image size but keep aspect ratio
  max-width:150px;
  max-height:60px;
  width: auto;
  height: auto;
}
