<div class="home-container">
  <div id="headline">
    <div class="large-header">Living Example</div>
    <div class="small-header">of</div>

    <div class="large-header">Creative Expression</div>
    <div class="small-header">by</div>

    <div class="large-header">Progressive Excellence</div>
  </div>

  <p>This site is intended to: chronicle my life, communicate my thoughts, and ultimately inspire everyone within my circumference.</p>

  <p><strong>GaryCooper.io</strong> is built with the following technologies:</p>

  <div class="tech-container">
    <hr class="tech-border">
    <div class="tech-header"><strong>Front-End</strong></div>
    <div class="logos-container">
      <div class="logo-container"><a href="https://angular.io"><img src="../../../assets/ng_logo.png"></a></div>
      <div class="logo-container"><a href="https://www.typescriptlang.org/index.html"><img src="../../../assets/ts_logo.png"></a></div>
      <div class="logo-container"><a href="https://rxjs-dev.firebaseapp.com/"><img src="../../../assets/rxjs_logo.png"></a></div>
    </div>
    <br>
    <hr class="tech-border">
    <div class="tech-header"><strong>Back-End</strong></div>
    <div class="logos-container">
      <div class="logo-container"><a href="https://nodejs.org/en/"><img src="../../../assets/node_logo.svg"></a></div>
    </div>
    <br>
    <hr class="tech-border">
    <div class="tech-header"><strong>Build System</strong></div>
    <div class="logos-container">
      <div class="logo-container"><a href="https://webpack.js.org/"><img src="../../../assets/webpack_logo.png"></a></div>
    </div>
    <br>
    <hr class="tech-border">
    <div class="tech-header"><strong>Hosting</strong></div>
    <div class="logos-container">
      <div class="logo-container"><a href="https://aws.amazon.com/"><img src="../../../assets/aws_logo.png"></a></div>
    </div>
    <hr class="tech-border">
  </div>

  <p>Designed, developed, and maintained exclusively by Gary Michael Cooper Jr., henceforth referred to as the author.</p>
  <p>All contents herein are products of the creative and intellectual horsepower of the author and are not to be copied or
    distributed without express written consent by the author or the author's designated legal representative.
  </p>
</div>
