<div class="home-container">
  <h1>Living Example</h1>
  <h5>of</h5>
  <h1>Creative Expression</h1>
  <h5>by</h5>
  <h1>Progressive Excellence</h1>

  <p>This site is intended to: chronicle my life, communicate my thoughts, and ultimately inspire everyone within my circumference.</p>

  <p><strong>GaryCooper.io</strong> is built with the following technologies:</p>
  <div class="logo-container"><a href="https://angular.io"><img src="../../../assets/ng_logo.png" height="65px" width="65px"></a></div>
  <div class="logo-container"><a href="https://www.typescriptlang.org/index.html"><img src="../../../assets/ts_logo.png" height="65px" width="65px"></a></div>
  <div class="logo-container"><a href="https://rxjs-dev.firebaseapp.com/"><img src="../../../assets/rxjs_logo.png" height="65px" width="65px"></a></div>
  <div class="logo-container"><a href="https://webpack.js.org/"><img src="../../../assets/webpack_logo.png" height="65px" width="65px"></a></div>
  <div class="logo-container"><a href="https://nodejs.org/en/"><img src="../../../assets/node_logo.svg" height="65px" width="65px"></a></div>
  <div class="logo-container"><a href="https://aws.amazon.com/"><img src="../../../assets/aws_logo.png" height="65px" width="65px"></a></div>

  <p>Designed, developed, and maintained exclusively by Gary Michael Cooper Jr., henceforth referred to as the author.</p>
  <p>All contents herein are products of the creative and intellectual horsepower of the author and are not to be copied or
    distributed without express written consent by the author or the author's designated legal representative.
  </p>
</div>
